*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

#nav{
    background-color: rgb(45,47,51);
    padding: 15px 20px;
    position:fixed;
    display: block;
    top: 0;
    width: 100vw;
    z-index: 999;
}

#nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 1%;
    font-size: 20px;
    color: #fff;
    transition: background-color .4s ease;
    padding: 5px 10px;
}

#nav a{
    color: #fff;
    text-decoration: none;  
    font-family: 'Hind', sans-serif;
}

#nav li:hover{
    color: #6EEEA4 !important;
    border-bottom: 2px solid #6EEEA4;
}

#nav li:hover i{
    color: #6EEEA4;
}

#nav a:hover{
    color: #6EEEA4 !important;
}

#first{
    margin-left: 2% !important;
}

#first:hover{
    border: none !important;
}

#first a{
    padding-top: 5px;
    font-size:28px ;
    font-family: 'Bebas Neue', cursive;

}


#nav_first{
    margin-left: 8% !important;
}


#social_first{
    margin-left: 6% !important ;
}

.grid, .about_grid{
    height: 100vh;
    display: flex;
}

#home{
    height: 100vh;
    background-color: rgb(45,47,51);
}


#home_head{
    display: block;
    font-size: 48px;
    color: #fff;
    margin-top: 4%;
    padding-right: 17%;
    /* text-align:center; */
    line-height: 65px;
}

.left, .right{
    width: 50%;
    /* padding-left: 15%; */
    padding-top: 6%;
    padding-right: 25px;

}

#home .left{
    padding-left: 15%;
    padding-top: 15%;
}

.box{
    display: inline-block;
    padding: 2px 10px;
    background-color: #6EEEA4;
    font-size: 16px;
    color: rgb(36, 35, 35);
}

#talk{
    display: block;
    margin-top: 10%;

}

#talk a{
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #6EEEA4;
    transition: all .3s ease;
    background-color: transparent;
}


#talk a:hover{
    background-color: #6EEEA4;
    text-shadow: 1px 1px 5px #fff;
    color: #000;
    box-shadow: 2px 2px 20px #000;
}

#home .right img{
    filter: drop-shadow(0px 0px 10px #000);
    max-height: 100%;
    width: 90%;
}



#about{
    background-color: #25262A;
    height: 100vh;
}

#about .left{
    padding-left: 5%;
    margin-top: 5%;
    width: 40%;
}

#about .right{
    width: 60%;
}

#about .right{
    padding-top: 0;
}

.left img{
    border-right: 10px solid #6EEEA4;
    border-bottom: 10px solid #6EEEA4;
    box-shadow: 2px 2px 10px #000 ;
    /* border-right: 10px solid #2b6644;
    border-bottom: 10px solid #2b6644; */
    mask-image: linear-gradient(#000, transparent);
    height: 80%;
    width: 65%;
}


.head{
    display: block;
    text-align: center;
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #6EEEA4;
}




p{
    color: #fff;
    text-align: justify;
    font-size: 18px;
    margin-top: 25px;
    padding-right: 50px;
}

#hi{
    display: block;
    font-size: 32px;
    text-shadow: 2px 2px 10px #6EEEA4;
}

#quotebox{
    margin-top: 30px;
    border: 2px solid #6EEEA4;
    padding: 5px 20px;
    width: 90%;
    margin-left: 2%;
}

.quote{
    font-size: 28px;
    display: block;
    font-family: 'Kaushan Script', cursive;
}

.sign{
    display: block;
    font-family: 'Mr Dafoe', cursive;
    display: block;
    font-size: 32px;
    text-align: center;
    color: #98a79d;
    margin-left: 40%;
}


#services{
    height: 100vh;
    background-color: rgb(45,47,51);
  }

.sspan{
    display: flex;
    padding-bottom: 20px;
}

#services p{
    margin-top: 0;
    padding: 2px 10px;
    text-align: justify;
}

.sbox{
    width: 30%;
    margin-left: 2%;
    padding: 0 !important;
    text-align: center;
    border: .5px solid #fff;
    /* height: 180px; */
    margin-top: 50px;
    background-image: radial-gradient(transparent, rgb(25,25,28));
}


.subhead{
    display: block;
    padding-top: 10px;
    font-size: 18px;
}
  
#box1{
    border-top: 5px solid yellow;
}

#box1 .subhead{
    color: yellow;
}
  
#box2{
    border-top: 5px solid rgb(75, 105, 241);
}

#box2 .subhead{
    color: rgb(75,105,241);
}

#box3{
    border-top: 5px solid green;
}

#box3 .subhead{
    color: green;
}

#box4{
    border-top: 5px solid red;
}

#box4 .subhead{
    color: red;
}
  
#box5{
    border-top: 5px solid rgb(255, 145, 0);
}

#box5 .subhead{
    color: rgb(255, 145, 0);
}
  
#box6{
    border-top: 5px solid rgb(0, 247, 255);
}

#box6 .subhead{
    color: rgb(0, 247, 255);
}

.sbox:hover{
    transform: translate(30px);
}




#skills{
    background-color: #25262A;
    display: flex;
    min-height: 100vh;
    padding-top: 0;
}

#skills .head{
    text-align: left !important;
    margin-left: 7%;
    font-size: 55px;
}

#left{
    width: 55%;
    padding: 10px 20px;
}

#right{
    width: 30%;
    margin-top: 15%;
    padding-left: 4%;
}

#skills p{
    text-align: justify;
    border-right: 2px solid #6EEEA4;
    padding: 0 20px;
}

.progress_head{
    display: block;
    font-size: 20px;
}

.progress{
    width: 90%;
    background: green;
    margin-bottom: 25px;
    height: 5px;
}

#web{
    background: white;
    background-color: #fff;
}

.bar{
    display: flex;
    margin-bottom: 40px;
    margin-top: 10px;
}

.inline_elements{
    /* display: inline-block; */
    background-color: #808080;
    height: 3px;
}

#web_start{
    background-color: #D26CD5;
    width: 63%;
}

#web_end{
    width: 37%;
}

#sec_start{
    background-color: green;
    width: 77%;
}

#sec_end{
    width: 23%;
}

#android_start{
    background-color: #FF2253;
    width: 65%;
}

#android_end{
    width: 35%;
}

#windows_start{
    width: 80%;
    background-color: blue;
}

#windows_end{
    width: 20%;
}


#works{
    background-color: #2d2f33 ;
    padding-bottom: 100px;
}

.work_subhead{
    display: block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.flex{
    display: flex;
    padding-bottom: 30px;
}

.work{
    display: block;
    height: 250px;
    width: 30%;
    margin-left: 2.5%;
    /* border: 2px solid #fff; */
    border-radius: 15px;
    cursor: pointer;
}

.data{
    display: none;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    height: 60%;
    margin-top: 25%;
    border-radius: 15px;
    font-size: 22px;
    color: #000 !important;
    text-align: center;
    box-shadow: 0px -1px 15px #000;
}

.data h3{
    font-size: 22px;
}

.work:hover .data{
    display: block;
    animation: data .5s ease-in-out;
    
}


@keyframes data {
    from{
        display: none;
        height: 0;
        margin-top: 40%;
    }
    to{
        display: block;
        height: 60%;
        margin-top: 25%;
    }
}

.data h3{
    color: #000;
}

.data p{
    color: #000 !important;
    padding: 0 15px;
    margin: 0 0;
    cursor: auto;
    font-size: 16px;
    padding: 10px 15px;
}

.data_btn{
    display: block;
    width: 30%;
    height: 42px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #0e4ac5;
    padding: 5px 5px;
    border-radius: 15px;
    margin-left: 30%;
    font-size: 16px;
    transition: all .5s ease;
}

.data_btn:hover{
    box-shadow: 2px 2px 10px #000;
}

.data_btn a{
    text-decoration: none;
}


#logistics{
    background: url("../img/works/logistics.png") no-repeat center;
    background-size: cover;
    
}

#admission{
    background: url("../img/works/admission.png") no-repeat center;
    background-size: contain;
}

#living_spaces{
    background: url("../img/works/livingspaces.png") no-repeat center;
    background-size:contain;
}

#login_template{
    background: url("../img/works/login.png") no-repeat center;
    background-size:cover;
}

#age_of_internet{
    background: url("../img/works/age_of_internet.png") no-repeat center;
    background-size: contain;
}

#comming_soon{
    background: url("../img/works/comming_soon.png") no-repeat center;
    background-size: contain;
}





#contact{
    /* height: 100vh; */
    background-color: #25262A;
    color: #fff;
}


#pop{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
#h1{
    display: inline-block;
    font-size: 30px;
    text-decoration: underline 15px solid #6EEEA4;
}
#pop i{
    font-size: 40px;
    padding-left: 20px;
}



#h2{
    display: inline-block;
    width: 55%;
    margin-left: 30px;
    font-size: 18px;
    padding-left: 10px;
}
#box{
    display: flex;
    margin-top: 80px;
    color: white;
    padding-bottom: 50px;
}
.b{
    display: block;
    width: 20%;
    margin-left: 10%;
}
.b h1{
    text-decoration: underline 20px solid #6EEEA4;
    font-size: 35px;
    
}
.b h2{
    margin-top: 35px;
}
.b h3{
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}
.b a,p{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.b li{
    list-style-type: none;
    margin-bottom: 5px;
    background-color: #393838;
    text-align: center;
    transition: all .5s ease-in-out;
}
.b li:hover{
    background-color: #6EEEA4;
}

.b li:hover a{
    color: #000;
}


.b li:hover i{
    /* background-color: green; */
    color: green;
    text-shadow: 0px 0px 5px #fff;
}

#contact p{
    margin-top: 20px;
    text-align: center;
}
#contact p a{
    text-decoration: none;
    color: #6EEEA4;
}

h2,h3,h4{
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

#top{
    background-color: #000;
    width: 1%;
    padding: 1% 1%;
    transform: rotate(270deg);
    font-weight: bold;
    border-radius: 50%;
    font-size: 25px;
    float: right;
}

#top a{
    text-decoration: none;
}

#con li{
    width: 350px;
    padding: 5px 10px;
}

#con i{
    font-size: 22px;
    padding-top: 2px;
}

/* 
#form, #contact_text{
    height: 65vh;
    display: block;
    width: 50%;
}

.is_half{
    display: flex;
    width: 60%;
}

.half_element{
    width: 30%;
    margin-left: 2%;
}

input{
    width: 30%;
}

.label{
    padding-top: 20px;
}

select{
    background-color: #25262A;
    width: 25%;
    text-align: center;
}

.descr{
    margin-left: 2%;
}

textarea{
    resize: none;
    height: 40%;
    width: 63%;
    margin-left: 10px;
    color: #000;
}
*/

@media(min-width:300px) and (max-width:1250px){
    #first{
        display: none !important;
    }
    
    #nav_first{
        margin-left: 4% !important;
    }

    .sbox{
        margin-top: 2%;
    }
    #services, #about{
        height: 100%;
        padding-bottom: 50px;
    }

    .left img{
        width: 70%;
        height: 65%;
    }

    #skills{
        height: 100%;
    }

}

@media(min-width:800px) and (max-width:1250px){

    #skills{
        height: 100%;
    }

    .b{
        margin-left: 5%;
    }

    /* .work, .sbox{
        margin-left: 2%;
    } */
    #h1{
        font-size:25px ;
    }
    #home{
        height: 100% !important;
        padding-bottom: 25px;
    }
    .left img{
        width: 90%;
        height: 70%;
    }
}

@media(min-width:300px) and (max-width:900px){
    #social_first{
        margin-left: 2% !important;
    }

    #nav_first{
        margin-left: .5% !important;
    }

    #nav{
        width: 100vw;
        padding: 1% 1%;
        font-size: 16px;
    }

    #nav li{
        margin-left: 0;
    }
}

@media(min-width:300px) and (max-width:800px){

    *{
        margin: 0;
    }

    #home, #skills, .grid{
        height: 100% !important;
    }

    .li_menu{
        display: none !important;
    }

    .about_grid{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 8%;
    }

    #about .left, #about .right{
        width: 90%;
    }
}

@media(min-width:250px) and (max-width:700px){
    .grid, .sspan, #skills{
        display: block;
    }
    .left, .right, .sbox, #left, #right, .b, #box, #add, .flex, .work{
        display: block !important;
        width: 100%;
        margin-left: 0;
    }
    #about .left, #about .right{
        display: block;
        width: 100%;
        padding-left: 5%;
    }
    .progress_head{
        margin-top: 25px;
    }
    .bar{
        width: 80%;
        margin-bottom: 0;
    }
    .work{
        width: 90%;
        margin-left: 5%;
    }
    #right{
        padding-left: 10%;
        margin-top: 20px;
        padding-bottom: 25px;
    }
    #about .left {
        margin-top: 0;
        padding-left: 20%;
    }
    #works{
        padding-bottom: 25px;
    }

    .sbox{
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    #home .right img {
        width: 90%;
    }
    .head{
        font-size: 32px;
    }
    #h1{
        display: block;
        font-size: 24px;
        text-decoration: underline 10px solid #6EEEA4 ;
        width: 100%;
    }
    #h2 {
        display: block;
        width: 100%;
        margin-left: 0;
        font-size: 18px;
        padding: 5px 5px;
    }
    .b h3 {
        margin-bottom: 30px;
        text-align: left;
        font-size: 22px;
    }
    .b{
        padding-left: 5%;
    }
    #con{
        margin-top: 45px;
    }
}

@media(min-width:700px) and (max-width:950px){
    #home{
        height: 100% !important;
        padding-bottom: 25px;
    }
}