*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    background: transparent;
    background-color: #1b191c;
    width: 100%;
    margin-bottom: 0px;
    height: 70px;
    box-shadow: 2px 5px #000000;
}
#logo{
    margin-left: 100px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px white;
}
#home{
    margin-left: 330px;
}
#contact{
    border-bottom: 2px solid #D2D1D2;
    /* margin-left: 330px; */
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
}
.nav ul li a{
    text-decoration: none;
    color: #cafffb;
    font-size: 20px;
    transition:all 0.8s ease;
}
.nav ul li a:hover{
    border-bottom: 2px solid #D2D1D2;
}
.c1{
    display: inline-block;
    width: 30%;
    background-color: rgb(12, 12, 12);
    color: white;
    margin-left: 2%;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    transition: all 1s ease;
}
.x1:hover{
    background-color: rgb(24, 24, 24);
}
.x2:hover{
    background-color: rgb(24, 24, 24);
}
.x3:hover{
    background-color: rgb(24, 24, 24);
}
.x4:hover{
    background-color: rgb(24, 24, 24);
}
.x5:hover{
    background-color: rgb(24, 24, 24);
}
.x6:hover{
    background-color: rgb(24, 24, 24);
}
.c1 h1{
    margin-bottom: 0px;
}
.c1 h2{
    margin-top: 2px;
}
.c1 a{
    text-align: center;
    margin-left: 5%;
    text-decoration: none;
    color: teal;
    transition: all 1s ease;
}
.c1 a:hover{
    color: rgb(1, 109, 109);
}
.two{
    margin-left: 20px;
}
h2{
    text-align: center;
}
.main{
    justify-content: center;
    height: 100%;
    /* border: 2px solid red; */
    background-color: #131313;
    color: white;
}
.m1{
    width: 50%;
    margin-left: 25%;
}
h1, p{
    text-align: center;
}
h1{
    margin-top: 0px;
    padding-top: 15px;
}
a .y1{
    margin-left: 40px;
}
.footer{
    background-color: rgb(14, 14, 14);
}
.footer p{
    padding-bottom: 5px;
    color: white;
}
marquee{
    background-color: rgb(32, 32, 32);
    color: white;
}
@media(min-width:645px) and (max-width: 1200px){
    .nav ul li{
        margin-left: 25px;
    }
    .nav #home{
        margin-left: 85px;
    }
    .c1{
        width: 40%;
        margin-left: 5%;
    }
    .contact{
        justify-content: center;
    }
}
@media(min-width:645px) and (max-width: 770px){
    .c1{
        height: 250px;
    }
}
@media(min-width:500px) and (max-width: 645px){
    .nav ul li{
        margin-left: 25px;
        /* font-size: 16px; */
    }
    .nav #home{
        margin-left: 20px;
    }
    #logo{
        margin-left: 15px;
    }
}
@media(min-width:560px) and (max-width: 645px){
    .c1{
        width: 40%;
        height: 350px;
    }
}
@media(min-width:500px) and (max-width: 560px){
    .c1{
        height: 450px;
        width: 40%;
    }
}
@media(min-width:300px) and (max-width: 650px){
    
    .nav{
        display: inline-block;
    }
}
@media(min-width:200px) and (max-width: 500px){
    #logo{
        display: none;
    }
    .nav #home{
        margin-left: 10px;
    }
    .nav ul li{
        margin-left: 15px;
    }
    .c1{
        display: block;
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    .contact{
        justify-content: center;
    }
}

@media(min-width:200px) and (max-width: 300px){
    #logo{
        display: none;
    }
    .nav #home{
        margin-left: 0px;
    }
    .nav ul li{
        margin-left: 10px;
    }
    .main{
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}